/* Navbar */

.logo{
     max-height: 100px; 
   
}

.navbar{
    background-color:#151A29 ;
    
}

.navbar-brand{
    
    color:white;    
    font-family: "Source Sans Pro";
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 3.5rem;
    
}
.nav-item{
    font-family: "Source Sans Pro";
    font-weight: 300;
    font-size: 1.5rem;
    padding: 0 50px;
    
}
.navbar-toggler-icon{
    color: white;
}