/* Navbar */

.logo {
    max-height: 100px;

}

.navbar {
    background-color: #151A29;

}

.navbar-brand {

    color: white;
    font-family: "Source Sans Pro";
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 3.5rem;

}

.nav-item {
    font-family: "Source Sans Pro";
    font-weight: 300;
    font-size: 1.5rem;
    padding: 0 50px;

}

.navbar-toggler-icon {
    color: white;
}

/* Forms */

.form-register{
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin:auto;
    margin-top:100px;
    border-radius:4px;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    color: white;
    box-shadow: 7px 13px 37px #00FFFF;
}

.form-register h4{
    font-size: 22px;
    margin-bottom: 20px;
}

.form-register a:hover{
    color: white;
    text-decoration: underline;
}
.controls{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius : 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
}
